<div id="about" class="bg-div-color anchor-offset">
  <div class="backgroundTwo">
    <p class="bannerFont jose-font align-text-center large-Font">About Me</p>
    <img class="photo align-image-center" src="../assets/img/profilePic.jpeg">
    <div class="align-text-center">
      <span class="text-left-align">
        <p class="text-line-gap">Associates Degree in <strong>Web Application Development</strong></p>
        <br/>
        <p class="text-line-gap">Proficient in <strong>C#, Javascript, Angular, Python, HTML, CSS and Bootstrap.</strong></p>
        <br/>
        <p class="text-line-gap">Experienced with <strong>ASP.NET Core, Visual Studio Code, Adobe Photoshop, Illustrator, GIMP and SQL</strong></p>
      </span>
    </div>
  </div>
  
  <div class="align-text-center">
    <span class="material-icons icon-formatting" style="color:rgb(22, 47, 211); font-size: 3em;" >coffee</span>
  </div>
  <div class="padding-bottom">
    <p class="bannerFont jose-font align-text-center large-Font">Employment</p>
    <div class="align-text-center anchor-offset">
      <span class="text-left-align">
        <span>
          <p>
            <strong>May 2017 to Present</strong>
            <br/>
              <span class="text-line-gap">Employed as a Member Support Representative at <strong>
              <a href="https://www.crystalcommerce.com">Crystalcommerce</a></strong>, supporting local game stores.</span>
          </p>
        </span>
        <span class="text-line-gap">
          <p>
            <strong>December 2020 to Present</strong>
            <br/><span class="text-line-gap">Interning at <strong><a href="https://www.findmytreatments.com/home">Trials and Treatment</a></strong> 
              using the Angular Framework to add functionality to site.</span>
          </p>
        </span>         
        <span>
          <p>
            <strong>March 2020 to August 2020</strong>
            <br/><span class="text-line-gap">
              Interned at the <strong><a href="https://www.orcaconservancy.org/">Orca Conservancy</a>
              </strong>, building and deploying an ASP.NET Core Web Application.
            </span>
          </p>
        </span>
      </span>
    </div>
  </div>
</div>