/* resize background images to one size */
.backgroundTwo {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .large-Font{
      font-size: 50px;
  }

  .jose-font {
    font-family: 'josefinSans-italic', 'arial', sans-serif;
  }

  .anchor-offset {
    padding-top: 5em;
  }