/* Always in front */
.app-toolbar {
    top: 0;
    position: fixed;
    z-index: 1;
  }

  /* push content below toolbar down, so toolbar doesn't cover content */
  .toolbar-margin-bottom {
    margin-bottom: 60px;
  }

  /* Media screens for mobile phones */
@media only screen 
and (max-device-width: 768px)  { 
 a {
   font-size: 10px;
 }
}