<div class="toolbar-margin-bottom">
    <mat-toolbar class="app-toolbar">
      <span class="align-image-center">
        <a mat-button href="#home">
          Home
        </a>
        <a mat-button href="#about">
          About Me
        </a>
        <a mat-button href="#portfolio">
          Portfolio
        </a>
        <a mat-button href="https://edmundchan8.github.io/files/ChiHongEdmundChan-WebsiteResume.pdf">
          Resume
        </a>
        <a mat-button href="#contact">
          Contact Me
        </a>
      </span>
    </mat-toolbar>
  </div>