<div class="anchor-offset" id="portfolio">
  <h1 class="bannerFont align-text-center large-Font padding-top jose-font">Portfolio</h1>
  <div class="flexcontainer">
    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Orcastars Web App</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://github.com/Cascadia-Connections/orca-stars">
            <img mat-card-image class="portfolio-img" src="../assets/img/orcastars.png" alt="logo of OrcaConservancy">
          </a>
        </mat-card-content>
        <mat-card-content><strong>ASP.NET Core, C#, HTML, CSS, Javascript</strong></mat-card-content>
      </div>
    </mat-card>

    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Coffee Calculator</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://edmundchan8.github.io/edmundsWebsite2020/coffeeCalculator/index.html">
            <img mat-card-image class="portfolio-img" src="../assets/img/coffee-image.jpg" alt="Image of coffee cup">
          </a>
        </mat-card-content>
        <mat-card-content><strong>HTML, CSS and Javascript</strong></mat-card-content>
      </div>
    </mat-card>

    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Healthcare Explained</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://edmundchan8.github.io/edmundsWebsite2020/tree/main/healthExplained">
            <img mat-card-image class="portfolio-img" src="../assets/img/doctorPointingNotes.jpg" alt="image doctor's hand pointing at notes">
          </a>
        </mat-card-content>
        <mat-card-content><strong>HTML, CSS and Javascript</strong></mat-card-content>
      </div>
    </mat-card>

    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Lisa's Travel Blog</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://edmundchan8.github.io/edmundsWebsite2020/tree/main/travelWebsite">
            <img mat-card-image class="portfolio-img" src="../assets/img/couplevacation.jpg" alt="image of couple on beach">
          </a>
        </mat-card-content>
        <mat-card-content><strong>HTML, CSS and Javascript</strong></mat-card-content>
      </div>
    </mat-card>

    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Personal Website 2020</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://edmundchan8.github.io/edmundsWebsite2020/">
            <img mat-card-image class="portfolio-img" src="../assets/img/previousWebsite.jpg" alt="screenshot of my previous website">
          </a>
        </mat-card-content>
        <mat-card-content><strong>HTML, CSS and Javascript</strong></mat-card-content>
      </div>
    </mat-card>

    <mat-card class="portfolio-row portfolio-margin-spacing">
      <div>
        <mat-card-header>
          <div>
            <mat-card-title class="margin-title-spacing">Unity 3D Projects</mat-card-title>
            <mat-card-subtitle><br/></mat-card-subtitle>
          </div>
        </mat-card-header>
        <mat-card-content>
          <a href="https://pokedev8.itch.io/">
            <img mat-card-image class="portfolio-img" src="../assets/img/unityScreenShot.jpg" alt="screenshot of my previous website">
          </a>
        </mat-card-content>
        <mat-card-content><strong>HTML, CSS and Javascript</strong></mat-card-content>
      </div>
    </mat-card>
  </div>
</div>